<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Bug Tracker - Name in progress</title>
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark flex-md-nowrap p-0 shadow bg-color-primary-0">
  		<div class="container-fluid">
        <div class="row">
          <a href="/" class="navbar-brand col-sm-3 col-md-2 mr-0">BT</a>
          <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
  			<div class="collapse navbar-collapse" id='navbarSupportedContent'>
  				<ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
            <!-- <li class='nav-item'><button onclick='login()' disabled="true" class='btn btn-sm btn-dark' id="btn-login">Login</button></li>
            <li class="nav-item"><button id="btn-logout"  onclick="logout()" class='btn btn-sm btn-dark'>Log out</button></li> -->
            <li class="nav-item"><a class="btn btn-sm btn-dark" href='/login'>login</a></li>
  				</ul>
  			</div>
  		</div>
    </nav>
