<nav class="col-md-2 d-none d-md-block bg-light sidebar bg-color-primary-3 ">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item"><a href="./toDo" class="nav-link"><i class="fas fa-list"></i>&nbsp;&nbsp; To-Do</a></li>
    </ul>
  </div>
</nav>
