<%- include ('./partials/head')%>
<div class="container-fluid">
<%- include ('./partials/sidebar')%>
    <main role='main' class="col-md-10 ml-sm-auto px-4">
      <div class="row">
        <h1>To-Do List</h1>
      </div>
        <ul>
          <li>Make this page into cards</li>
          <li>Make a save-able checklist that is saved to database</li>
          <li><strike>Login system with Auth0</strike></li>
        </ul>
    </main>
</div>
